<ion-header>
  <ion-navbar>
    <ion-buttons start>
        <button ion-button
                (click)="_us.cerrar_sesion()"
                *ngIf="_us.activo()">
            Salir
        </button>
    </ion-buttons>
    <ion-title>
      Mi Tienda
    </ion-title>
    <ion-buttons end>
      <button ion-button ion-only
              (click)=_cs.ver_carrito()>
        <ion-icon id="cart" name="cart"></ion-icon>
        <ion-badge color="danger" class="carrito-numero"
                  *ngIf="_cs.items.length > 0">
          {{ _cs.items.length }}
        </ion-badge>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-row *ngFor="let pares of productos">
      <ion-col *ngFor="let item of pares"
              [navParams]="{ producto: item }"
              [navPush]="productoPage">
        <img [src]="item.codigo | imagen ">
        <p>{{item.producto}} - <span>{{item.precioCompra | currency:'USD':true}}</span></p>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-infinite-scroll (ionInfinite)="siguiente($event)">
   <ion-infinite-scroll-content></ion-infinite-scroll-content>
 </ion-infinite-scroll>

</ion-content>
